.query_hint{
    border:5px solid #939393;
    width:400px;
    height:50px;
    line-height:55px;
    padding:0 20px;
    position:absolute;
    left:50%;
    margin-left:-140px;
    top:50%;
    margin-top:-40px;
    font-size:15px;
    color:#333;
    font-weight:bold;
    text-align:center;
    background-color:#f9f9f9;
}
.query_hint img{position:relative;top:10px;left:-8px;}
